<%- include("partials/header");  -%>

<h1 class="text-center mb-4">Advay's Blog</h1>
<p class="lead text-center"> <%= homeStartingContent%> </p>

<% posts.forEach(function(post){ %>
<h1 class="mt-5"> <%= post.title%> </h1>
<div class="row">
    <div class="col-md-6">
        <img src="<%=post.image%>" alt="<%= post.title%>" class="thumbnail img-responsive" style=" max-width:80%;">
    </div>
</div>
<p><%=post.content.substring(0,100) + " ..." %> <a href="posts/<%= post._id%>"> Read More</a> </p>
<% }); %>



<%- include("partials/footer"); -%>